// Progress bar

.progress {
  border: 1px solid $lightGray;
  border-radius: $radius;
  box-shadow: inset 0 1px 0 $lighterGray;
  margin: $rhythm 0;
  background: $lightestGray;
  font-size: 0;
  color: transparent;
}

.progress_inner {
  background: $darkBlue;
  height: $rhythm;
  max-width: 100%;
  border-radius: $radius;
}
