// Tabbed navigation.
// For switching between sub-sections of the same view.

.tabs {
  margin: 0 auto $lineHeight;
  user-select: none;
  li {
    position: relative;
    a {
      @include ellipses;
      text-decoration: none;
      background: $lightestGray;
      line-height: $rhythm * 5;
      text-align: center;
      border: 1px solid $primaryColor;
      border-bottom-width: 0;
      color: $primaryColor;
      font-weight: normal;
      display: block;
      transition: background 120ms ease-out;
      padding: 0 $rhythm * 2;
      &:hover {
        background: rgba($primaryColor,0.2);
      }
      &:active {
        background: rgba($primaryColor,0.3);
        transition: none;
      }
    }
    &.active a {
      background: $primaryColor;
      color: $white;
      transition: none;
      @include font_smoothing;
    }
    &:first-child a {
      @include border_top_radius($radius * 2);
    }
    &:last-child a {
      @include border_bottom_radius($radius * 2);
      border-bottom-width: 1px;
    }
  }
  @media screen and (min-width: $lapWidth) {
    display: table;
    li {
      float: left;
      min-width: $lineHeight * 5;
      a {
        border-bottom-width: 1px;
        border-right-width: 0;
      }
      &:first-child a {
        border-top-right-radius: 0;
        @include border_left_radius($lineHeight);
      }
      &:last-child a {
        border-bottom-left-radius: 0;
        @include border_right_radius($lineHeight);
        border-right-width: 1px;
      }
    }
  }
}

.tab_pane {
  display: none;

  &.active { display: block; }
}
