// Code

// Correct `font-family` set oddly in Safari 5 and Chrome

code, pre {
  @include monospace;
  border-radius: $radius;
}

code {
  padding: 0 $rhythm;
  font-size: $fontSmaller;
  border: 1px solid $lightGray;
  background: $lightestGray;
  white-space: nowrap;
  // Increase `padding` at larger viewport widths
  @media only screen and (min-width: 480px) {
    padding: 0.125rem 0.25rem;
  }
}

pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  background: $darkestGray;
  color: $lightestGray;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  @include font_smoothing;
  letter-spacing: 0.02rem;
  font-size: $fontSmaller;
}
